body {
  background-color: #135293;
  font-family: "Noto Sans", sans-serif;
}

p,
a {
  font-size: 14px;
  margin: 0;
}

.weather-description {
  color: #fff;
}

.city {
  font-size: 30px;
  margin-top: 20px;
  color: #ffff;
}

#temperature-display {
  font-size: 35px;
  color: #fff;
  display: flex;
}

.container {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  height: 450px;
  width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-radius: 20px;
}

.current-weather,
.weather-info {
  background-color: #007cb9;
  height: 175px;
  width: 150px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 40px;
  border-style: solid;
  border-color: #f7f7f7;
  border-width: 5px 5px 5px 5px;
}

#city-display {
  text-transform: capitalize;
}

.degree-celsius-fahrenheit {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  position: relative;
}

.celsius:hover {
  font-weight: 900;
}

.fahrenheit:hover {
  font-weight: 900;
}

#degree {
  display: none;
}

#weather-description,
#current-date {
  color: #fff;
}

.days-of-the-week {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  color: #ffff;
}

.col-2 {
  background-color: #ffff;
  height: 70px;
  width: 50px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 20px;
}

.search-bar {
  margin-top: 25px;
  margin-left: 20px;
  width: 350px;
}

.search-container {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-container:hover > .search-input {
  width: 200px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: #007cb9;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}

button {
  background-color: #007cb9;
  color: #fff;
  border-color: #007cb9;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 8px;
}

button:hover {
  background-color: #135293;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.location-icon {
  font-size: 13px;
}

#current-location {
  margin-top: 22px;
}

.coder {
  text-align: center;
  margin-top: 35px;
}
